# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameBoy Style.iml
# Datasource local storage ignored files
/../../../../../../../../:\__Files\Programming\Coding Test Practice\GameBoy Style\.idea\.idea.GameBoy Style\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
